WotcOnlineDataRepository/Service References/WotcServices.Workspace/D20WorkspaceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WotC.ContentManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WotC.ContentManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vecna.wizards.com/D20WorkspaceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WotC.ContentVault" />
  <xs:import schemaLocation="http://vecna.wizards.com/D20WorkspaceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ContentNotFoundFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WotC.ContentVault" minOccurs="0" name="ID" nillable="true" type="q1:ContentIdentifier" />
      <xs:element minOccurs="0" name="OwnerID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentNotFoundFault" nillable="true" type="tns:ContentNotFoundFault" />
</xs:schema>