WotcOnlineDataRepository/Service References/WotcServices.Workspace/D20WorkspaceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vecna.wizards.com/D20WorkspaceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WotC.ContentVault" />
  <xs:import schemaLocation="http://vecna.wizards.com/D20WorkspaceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WotC.CharBuilder.Web" />
  <xs:import schemaLocation="http://vecna.wizards.com/D20WorkspaceService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Apply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WotC.ContentVault" minOccurs="0" name="characterID" nillable="true" type="q1:ContentIdentifier" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WotC.CharBuilder.Web" minOccurs="0" name="updates" nillable="true" type="q2:ArrayOfRulesEngineUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WotC.CharBuilder.Web" minOccurs="0" name="ApplyResult" nillable="true" type="q3:CharacterState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRulesElementData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRulesElementDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClientRulesElementDataResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreloadClientRulesElementData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreloadClientRulesElementDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PreloadClientRulesElementDataResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>